@font-face{
    font-family:db_helvethaica_x75_bd;
    src:url(../fonts/db_helvethaica_x_bd_v3.2-webfont.eot);
    src:url(../fonts/db_helvethaica_x_bd_v3.2-webfont.eot?#iefix) format('embedded-opentype'),
    url(../fonts/db_helvethaica_x_bd_v3.2-webfont.woff) format('woff'),
    url(../fonts/db_helvethaica_x_bd_v3.2-webfont.ttf) format('truetype'),
    url(../fonts/db_helvethaica_x_bd_v3.2-webfont.svg#db_helvethaica_x75_bd) format('svg');
    font-weight:400;
    font-style:normal
}

h1,h2,h3,h4,h5,h5,.main-nav,.cta-hero b,.btn,.view-product,.breadcrumb,.step-guide p {
    font-family: 'db_helvethaica_x75_bd';
}

.main-nav {
    font-size: 22px;
    margin-top: 34px;
}

.btn {
    line-height: 18px;
    font-size: 1.8em;
}

.section-header h2 {
    line-height: 18px;
    font-size: 46px;
}

.cta-hero b {
    font-size: 2.2em;
}

.product-block .product-name {
    line-height: 32px;
    font-size: 28px;
}

.footer-btn.view-product, .btn-create-account {
    line-height: 24px;
    font-size: 24px;
}

.btn.add-to-cart,.btn.add-to-cart .add {
    font-size: 28px;
}

.promotion-det h2 {
    font-size: 28px;
    line-height: 24px;
}

.breadcrumb ul li a {
    line-height: 24px;
    font-size: 24px;
}

.cart-container h2, .extra-item h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.empty-cart h2 {
    line-height: 18px;
}

.section.page-header h1 {
    line-height: 43px;
    font-size: 46px;
}

.quicklink-container h3 {
    margin-bottom: 15px;
    font-size: 28px;
}

.appetizers-header {
    font-size: 30px;
}

.social-login h3,.form-container h2 {
    font-size: 28px;
}

.form-group.horizontial label {
    font-size: 16px;
    font-weight: normal;
}

.modal-container h2 {
    font-size: 24px;
}

.login-form h3 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn.login-form {
    font-size: 28px;
}

.promotion-header,.pizza-desc h1 {
    font-size: 40px;
	line-height: 36px;
}

.pool h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

.step-guide p {
    font-size: 28px;
}

.review-table .product-info h2 {
    font-size: 28px;
    line-height: 1em;
}

.btn.checkout {
    font-size: 28px;
}

.side-menu-header {
    line-height: 22px;
    font-size: 24px
}

.mobile-select-lang a.btn{
    font-size: 24px;
}

.promo-code-detail h3 {
    font-size: 24px;
}

.product-expires-overlay h3 {
    font-size: 22px;
    margin-bottom: 0;
}

.expired .btn.add-to-cart a {
    font-size: 22px;
}

.favorite-modal h3 {
    font-size: 22px;
    font-weight: lighter;
}

.credit-payment .btn.small {
	font-size: 20px;
}

.credit-payment .dd-selected-image {
	top: 50% !important;
	margin-top: -17px;
	height: 35px;
	left: 10px;
	top: 5px;
}

.credit-payment .dd-selected-text {
	line-height: 1em;
	float: none;
	width: auto;
}

.journey-list.pizzachoose .journey-arm:before, .journey-list.pizzachoose .journey-arm:after {
	width: 100px;
}

@media (max-width: 1024px){
    .main-nav {
        margin-top: 10px;
    }
}

@media (max-width: 959px) {
    .main-nav{
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .main-nav{
        margin-top: 0px;
    }

    .mobile-user-menu .left a,.mobile-user-menu .right a {
        font-size: 24px;
    }
}

@media (max-width: 639px) {
    .btn.yellow.rfloat {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    review-table .product-info h2 {
        font-size: 18px;
        margin-bottom: 0;
    }

    .review-table tr td {
        vertical-align: top;
    }

    .review-table tr td h2 {
        font-size:14px;        
    }
	.pizza-desc h1 {
		font-size: 28px;
		line-height: 26px;
	}

}

@media (max-width: 420px) {
	.journey-list.pizzachoose .journey-arm:before, .journey-list.pizzachoose .journey-arm:after {
		width: 60px;
	}
}

.loginerror {
    font-size: 18px;
}

.chatinvite h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 1em;
}

.desktop-cart-btn {
	font-size:18px;
}

.login-form.upsell h3 {
	font-size: 28px;
}

.btn.upsell-checkout {
	font-size: 24px;
}

.promo-code span {
    top: 66px;
}