.section.bogo-header {
    background: #faf9f3;
    padding: 20px 0 0;
}
        
.section.bogo-header img {
    width: 1140px;
    display: block;
    margin: 0 auto;
}
        
@media (max-width: 1180px) {
    .section.bogo-header img {
        width: 100%;
    }
    
    .section.bogo-header {
        padding: 0;
    }
}
        
        
@media (max-width: 640px) {
    
    .product-list {
        margin-bottom: 0;
    }
    
    .section.bogo-header ~ .breadcrumb {
        margin-top: 0;
    }
    
    .favorite-modal .modal {
        margin-top: 150px;
    }
    
}

.selectize-input {
    height: 44px;
    width: 65%;
}

.form-group .selectize-input input,
.form-group .selectize-input > div{
    height: 28px;
    line-height: 26px;
    float: none;
}

.form-container.user-account .form-group.horizontial .selectize-input input {
    width: auto;
    float: none;
}

@media (max-width: 1024px) {
    .selectize-input {
        height: 44px;
        width: 100%;
    }
}

.promo-code {
    padding: 20px;
    background: #555;
    border-radius: 3px;
}

.promo-code h2 {
    color: #FFF;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

.select-custom {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(230, 230, 230)
}

.form-login .modal-left-col {
    padding-left: 0;
    width: 45%;
    padding-right: 4.9%;
    border-right: 1px solid rgba(0,0,0,0.07)
}

.form-login .modal-right-col {
    padding-right: 0;
    width: 45%;
    padding-left: 4.9%;
    border-left: none;
}

.survey-banner,.splash-page-container > a {
    width: 650px;
    z-index: 9;
}

.survey-banner img {
	width: 100%;
}

.mobile-user-menu .left,.mobile-user-menu .right {
    width: 50%;
    float: left;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.mobile-user-menu .left a,.mobile-user-menu .right a {
    display: block;
    padding: 10px 0;
    font-weight: normal;
}

.mobile-user-menu .left a.signup {
    background: #00703c;
    color: #FFF;
}

.mobile-user-menu .right a.login,.mobile-user-menu .left a.profile {
    background: #D6960D;
    color: #FFF;
}

.mobile-user-menu .right a.logout {
    background: #d03137;
    color: #FFF;
}

.mobile-user-menu .user-info {
    font-size: 18px;
    background: rgba(0,0,0,0.1);
    padding: 15px 20px;
}

.mobile-user-menu .user-info p {
    margin: 0;
    opacity: 0.6;
}

.mobile-user-menu.hide {
    display: none !important;
}

@media (min-width: 768px) {
    .mobile-user-menu {
        display: none;
    }

    
}

.ui-autocomplete{
    max-height:200px;
    overflow-y:auto;
    overflow-x:hidden;
}

.splash-page {
    _position: fixed;
    _display: table;
    _background: rgba(0,0,0,0.5);
    _width: 100%;
    _height: 100%;
    _top: 0;
    _text-align: center;
}

.splash-page-container {
    _display: table-cell;
    _vertical-align: middle;
}

.splash-page-container a {
    _position: relative;
    _display: inline-block;
}

.splash-page-container i {
    _position: absolute;
    _right: -12px;
    _top: -12px;
    _border: 3px solid #FFF;
    _border-radius: 20px;
    _background: #FFF;box-shadow: 0 0 10px #000;
}

.mobileNavToggle {
    top: -15px;
    left: 0;
    right: auto;
    background: #00703c;
}

.mobile-select-lang a {
    display: inline-block !important;
    padding: 7px 20px !important;
    margin: 10px;
    margin-right: 0;
    border-radius: 5px;
}

.mobile-select-lang a.active {
    background: rgba(0,0,0,0.1);
}

.mobile-select-lang {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

@media (max-width: 960px) {
    .splash-page {
        display: table;
    }
}

@media (max-width: 959px) {
    .mobile-cart-btn {
        position: fixed;
        display: block;
        line-height: 24px;
        padding: 20px 0px;
        bottom: auto;
        left: auto;
        top: 40px;
        right: 0;
        width: 115px;
        background:#00703c;
        z-index: 1000;
    }
    
    .mobile-cart-price {
        position: relative;
        background: #FFF;
        color: #000;
        padding: 3px 7px;
        border-radius: 5px;
        margin-left: 5px;
        font-size: 12px;
    }
    
    .mobile-cart-price:after {
        display: block;
        position: absolute;
        content: '';
        left: -7px;
        top: 8px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid #FFF;
    }
}

@media (max-width: 768px) {
    .main-nav {
        display: block;
        position: fixed;
        z-index: 998;
        width: 85%;
        right: auto;
        left: 0;
        top: 110px;
        bottom: 0;
        margin: 0;
        background: #FFF;
        float: none;
        height: auto;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        overflow: auto;
    }
    
    .top-logo a {
        display: inline-block;
        width: 66px;
        height: 42px;
    }
    
    .top-logo {
        float: none;
        text-align: center;
    }

    .breadcrumb ul li {
        display: none;
    }

    .breadcrumb ul li:last-child {
        display: block;
    
    }
}

@media (max-width: 639px) {
    .header {
        padding: 7px 0;
        height: 42px;
    }
    
    .mobileNavToggle {
        top: -7px;
    }
    
    .mobileNavToggle i {
        font-size: 35px;
        width: 56px;
        height: 56px;
        line-height: 56px;
    }
    
    .mobile-cart-btn {
        padding: 13px 0px;
        top: 0px;
    }
    
    .main-nav {
        top: 56px;
    }
    
    .slideshow {
        margin-top: 56px;
    }
    
    .form-login.form-confirmation {
        padding: 30px 0;
        box-shadow: none;
    }
    
    .form-login.form-delivery .modal-left-col,
    .form-login.form-delivery .modal-right-col,
    .form-login.form-pickup .modal-left-col,
    .form-login.form-pickup .modal-right-col {
        width: 100%;
    }
    
    .form-login.form-pickup .modal-left-col,
    .form-login.form-delivery .modal-left-col {
        border-right: 0;
    }
}

@media (max-width: 560px) {
    .survey-banner,.splash-page-container > a  {
        width: 90%;
    }
}

@media (max-width: 1023px) {
    .splash-page {
        display: table;
    }
    
    .survey-banner,.splash-page-container > a {
        width: 450px;
    }
}

@media (max-width: 520px) {
    .survey-banner,.splash-page-container > a  {
        width: 90%;
    }
    
    .survey-banner img {
        width: 100%;
    }
}

@media (max-width: 639px) {
    .slideshow{
       margin-top: 0;
	   min-height: calc(100% - 303px);
    }
}

.favorite-modal .modal-container {
    width: 450px;
}

.favorite-modal .modal-header h2 {
    padding-left: 0;
    margin: 0;
    font-weight: normal;
    opacity: 1;    
}

.favorite-modal .modal-content {
    padding: 0 0 30px;
    margin: 0 30px;
    background: #FFF;
    border-radius: 8px;
}

.add-to-favorite input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: 0;
    line-height: 1em;
    border: 3px solid #eaeaea;
    border-radius: 3px;
    margin-bottom: 20px;
}

.add-to-favorite input:focus {
    outline: none;
}

.favorite-modal .control-button li {
    display: inline-block;
    width: 49%;
}

.favorite-modal .control-button li button,
.favorite-modal .add-to-favorite button{
    width: 100%;
    height: 40px;
    border-radius: 3px;
    font-size: 16px;
    border: none;
    color: #FFF;
}

.favorite-modal .control-button li button:focus {
    outline: none;
}

.favorite-modal .control-button li:first-child button,
.favorite-modal .add-to-favorite button {
    background: #00703c;
}

.favorite-modal .control-button li:last-child button{
    background: #d03137;
}

.favorite-overlay {
    display: none;
}

#PizzaName,#PromoName {
    color: #000;
}

.favorite-overlay.active {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.3);
}

@media (max-width: 480px) {
    .favorite-modal .modal-container {
        width: auto;
        margin: 0 20px;
    }
}